<ul class="jekyllcodex_accordion">
  {% for item in page.accordion %}
    <li>
      <input id="accordion{{ forloop.index }}" type="checkbox" />
      <label for="accordion{{ forloop.index }}">{{ item.title | markdownify }}</label>
      <div>{{ item.content | markdownify }}</div>
    </li>
  {% endfor %}
</ul>
