<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col">
        <a class="page-link" href="https://www.zukunftfueralle.jetzt">
          {{ site.data.navigation.site.description }}
        </a>
      </div>

      <div class="footer-col">
        <a class="page-link" href="https://zukunftfueralle.jetzt/ueber-uns/spenden/#foerderung">
          {{ site.data.navigation.sponsored_by }}
        </a>
      </div>

      <div class="footer-col">
        <a class="page-link" href="https://zukunftfueralle.jetzt/impressum/">
          {{ site.data.navigation.imprint }}
        </a>
      </div>

      <div class="footer-col">
        <a class="page-link" href="{{ site.baseurl }}{{ site.data.navigation.privacy_policy.url }}">
          {{ site.data.navigation.privacy_policy.title }}
        </a>
      </div>

    </div>
  </div>

</footer>
