<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} | Zukunft für Alle</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" id="us-fonts-css" href="https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%7CGelasio%3A400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%7CRanga%3A400%2C700%7CLibre+Caslon+Text%3A400%2C400italic%2C700%7COpen+Sans+Condensed%3A300%2C300italic%2C700&amp;display=swap&amp;ver=5.3.4" type="text/css" media="all">
  <!-- <link rel="stylesheet" href="{{ '/css/fonts.css' | prepend: site.baseurl }}"> -->
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"> -->
  <link rel="icon" href="https://cdn.shortpixel.ai/client/q_glossy,ret_img,w_32,h_32/https://zukunftfueralle.jetzt/wp-content/uploads/2020/02/ellipse_2-150x150.png" sizes="32x32" /><link rel="icon" href="https://cdn.shortpixel.ai/client/q_glossy,ret_img,w_192,h_192/https://zukunftfueralle.jetzt/wp-content/uploads/2020/02/ellipse_2.png" sizes="192x192" /><link rel="apple-touch-icon-precomposed" href="https://zukunftfueralle.jetzt/wp-content/uploads/2020/02/ellipse_2.png" /><meta name="msapplication-TileImage" content="https://zukunftfueralle.jetzt/wp-content/uploads/2020/02/ellipse_2.png" />
</head>
