<div class="lang">
  {% assign lang_links = "" %}
  {% for lang in site.languages %}
    <!-- {% if lang != site.languages.first %}
      {{ assign lang_links = lang_links | append: " | " }}
    {% endif %} -->
    {% if lang == site.active_lang %}
      {{ assign lang_links = lang_links | append: "<span class='active'>" | append: lang | append: "</span>" }}
    {% else %}
      {{ assign lang_links = lang_links | append: "<a class='page-link' href='" | append: site.baseurl | append: "/" | append: lang | append: page.url  | append: "'>" | append: lang | append: "</a>" }}
    {% endif %}
  {% endfor %}
</div>
