/**
 * Fonts
 */
 html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
 }

h1, h2, h3, h4, h5, h6 {
  font-family: Gelasio !important;
  font-family: inherit;
  line-height: 1.4;
  margin: 0 0 1.5rem;
  padding-top: 1.5rem;
  &, & a {
    color: $yellow !important;
  }
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, h1+h2, h1+h3, h1+h4, h1+h5, h1+h6, h2+h3, h2+h4, h2+h5, h2+h6, h3+h4, h3+h5, h3+h6, h4+h5, h4+h6, h5+h6 {
  padding-top: 0;
}
h1 {
  font-weight: 700;
  font-size: 40px;
}
h2 {
  font-weight: 500;
}


/**
 * Main layout
 */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  .page-content {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
  }
}


/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 87px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 87px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
        &:hover {
          color: $blue;
        }
    }

    @include media-query($on-laptop) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }

  .lang {
    display: inline;

    position: relative;
    top: 0.1em;
    padding: 0.43em;

    .active, a {
      padding: 0 0.2em 0.1em;
      border-radius: 100%;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    a:hover, a:visited:hover {
      background-color: $blue;
      color: $text-color;
    }
    .active {
      background-color: $background-color;
    }
    background-color: $blue;

    @include media-query($on-laptop) {
      .page-link {
        display: inline;
        margin-left: 0;
      }
    }
  }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: $black;

    a {
      color: $background-color;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
    text-align: center;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    display: flex;
}

.footer-col {
    margin: auto;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

@include media-query($on-palm) {
  .footer-col-wrapper {
      display: block;
  }
}


/**
 * Page content
 */
.page-content {
    padding: 3*$spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.space-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.space-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.space-link {
    display: block;
    font-size: 24px;
}

article h1 {
  text-align: center;
}

/**
 * Spaces
 */
.space-header {
    margin-bottom: $spacing-unit;
}

.space-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.space-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.stream-meta time {
  font-weight: bold;
}

.stream-list {
  margin-top: 2em;
}

.centered {
  display: block;
  margin: 1em auto;
  text-align: center;
}
.inlined {
  text-align: center;
}
.inlined a.btn.centered {
  display: inline-block;
  margin: 1em;
}


/**
* Tables
*/
table {
  margin-top: 2em;
  border-collapse: collapse;
}
tr {
  border-width: 1px 0;
  border-style: solid;
  border-color: $red;
}
tr:first-child {
  border-top-width: 3px;
}
tr:last-child {
  border-bottom-width: 3px;
}
td, th {
  text-align: left;
  padding: 0.5em 0.5em;
}
th:first-child,
td:first-child {
  padding-left: 1.5em;
}
th:last-child,
td:last-child {
  padding-right: 1.5em;
}


/**
* Buttons & links
*/
a, a:hover {
  text-decoration: none;
}
a, a:hover, a:visited {
  color: $yellow;
}
.site-nav, .site-footer {
  a:hover, a:visited:hover {
    color: $blue;
  }
}
.site-footer {
  a, a:visited {
    color: $background-color;
  }
}

a.btn {
  color: $text-color;
  background-color: $yellow-dark;
  border-color: $yellow-dark;

  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-radius: 4px;
  border-style: solid;
  border-width: 0.6px;

  cursor: pointer;
  -moz-appearance: button;

  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;

  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  text-transform: none;

  line-height: 24px;
  margin: 4px 0;
  padding: 6px 12px;

  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  user-select: none;

  &:hover, &.page-link:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
  }

  &.centered {
    display: block;
    width: max-content;
    margin: 1em auto;
  }
}


/**
* Accordion (https://jekyllcodex.org/without-plugin/accordion/)
*/
ul.jekyllcodex_accordion {
  position: relative;
  margin: 1.4rem 0 !important;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  padding-bottom: 0;

  > li {
    border-top: 1px solid rgba(0,0,0,0.25);
    list-style: none;
    margin-left: 0;

    li {
      list-style-type: initial;
    }

    input {
      display: none;
    }

    label {
      display: block;
      cursor: pointer;
      padding: 0.75rem 2.4rem 0.75rem 0;
      margin: 0;
    }

    div {
      display: none;
      padding-bottom: 1.2rem;
    }

    input:checked + label {
      font-weight: bold;
    }

    input:checked + label + div {
      display: block;
    }

    label::before {
      content: "+";
      font-weight: normal;
      font-size: 130%;
      line-height: 1.1rem;
      padding: 0;
      position: absolute;
      right: 0.5rem;
      transition: all 0.15s ease-in-out;
    }

    input:checked + label::before {
      transform: rotate(-45deg);
    }
  }
}


/**
* Media
*/
$board-border: 20px;
.board3-2 {
  border-width: $board-border;
  width:      -webkit-calc(                      100vw - (#{$spacing-unit} * 2) - (#{$board-border}* 2));
  width:              calc(                      100vw - (#{$spacing-unit} * 2) - (#{$board-border}* 2));
  max-width:  -webkit-calc(          #{$content-width} - (#{$spacing-unit} * 2) - (#{$board-border}* 2));
  max-width:          calc(          #{$content-width} - (#{$spacing-unit} * 2) - (#{$board-border}* 2));
  min-width: 300px;
  height:     -webkit-calc(            (100vw - (#{$spacing-unit} * 2) - (#{$board-border}* 2)) * 2 / 3);
  height:             calc(            (100vw - (#{$spacing-unit} * 2) - (#{$board-border}* 2)) * 2 / 3);
  max-height: -webkit-calc((#{$content-width} - (#{$spacing-unit} * 2) - (#{$board-border}* 2)) * 2 / 3);
  max-height:         calc((#{$content-width} - (#{$spacing-unit} * 2) - (#{$board-border}* 2)) * 2 / 3);
  min-height: 200px;
  border-style: ridge;
  border-color: $red;
}
.board16-9 {
  border-width: $board-border;
  width:      -webkit-calc(                       100vw - (#{$spacing-unit} * 2) - (#{$board-border}* 2));
  width:              calc(                       100vw - (#{$spacing-unit} * 2) - (#{$board-border}* 2));
  max-width:  -webkit-calc(           #{$content-width} - (#{$spacing-unit} * 2) - (#{$board-border}* 2));
  max-width:          calc(           #{$content-width} - (#{$spacing-unit} * 2) - (#{$board-border}* 2));
  min-width: 240px;
  height:     -webkit-calc(            (100vw - (#{$spacing-unit} * 2) - (#{$board-border}* 2)) * 9 / 16);
  height:             calc(            (100vw - (#{$spacing-unit} * 2) - (#{$board-border}* 2)) * 9 / 16);
  max-height: -webkit-calc((#{$content-width} - (#{$spacing-unit} * 2) - (#{$board-border}* 2)) * 9 / 16);
  max-height:         calc((#{$content-width} - (#{$spacing-unit} * 2) - (#{$board-border}* 2)) * 9 / 16);
  min-height: 135px;
  border-style: ridge;
  border-color: $red;
}
audio {
  width: calc(100% - (#{$board-border}* 2));
  border-width: $board-border;
  border-style: ridge;
  border-color: $red;
  background-color: $blue;
}


/**
* Map
*/
svg.map {
  .groups {
    &:hover .st117 *,
    &:focus .st117 *,
    & .st117:hover *,
    & .st117:focus * {
      fill:#00FFFF;
    }
  }
  .utopias {
    &:hover .st34 *,
    &:focus .st34 *,
    & .st34:hover *,
    & .st34:focus * {
      fill:#0000FF;
    }
  }
  .events {
    &:hover .st146 *,
    &:focus .st146 *,
    & .st146:hover *,
    & .st146:focus * {
      fill:#00FFFF;
    }
  }
  .analog {
    &:hover .st71 *,
    &:focus .st71 *,
    & .st71:hover *,
    & .st71:focus * {
      fill:#FFCE00;
    }
  }
  .workshops {
    &:hover .st9 *,
    &:focus .st9 *,
    & .st9:hover *,
    & .st9:focus * {
      fill:#00FF00;
    }
  }
  .awareness {
    &:hover .st90 *,
    &:focus .st90 *,
    & .st90:hover *,
    & .st90:focus * {
      fill:#00FFCE;
    }
  }
  .bar {
    &:hover .st104 *,
    &:focus .st104 *,
    & .st104:hover *,
    & .st104:focus * {
      fill:#8800FF;
    }
  }
  .bipoc {
    &:hover .st129 *,
    &:focus .st129 *,
    & .st129:hover *,
    & .st129:focus * {
      fill:#FF0062;
    }
  }
  .feedback {
    &:hover .st159 *,
    &:focus .st159 *,
    & .st159:hover *,
    & .st159:focus * {
      fill:#00FFBC;
    }
  }
  .flint {
    &:hover .st168 *,
    &:focus .st168 *,
    & .st168:hover *,
    & .st168:focus * {
      fill:#E600FF;
    }
  }
  .art {
    &:hover .st182 *,
    &:focus .st182 *,
    & .st182:hover *,
    & .st182:focus * {
      fill:#0055FF;
    }
  }
  .public {
    &:hover .st214 *,
    &:focus .st214 *,
    & .st214:hover *,
    & .st214:focus * {
      fill:#FF6D00;
    }
  }
  .media {
    &:hover .st190 *,
    &:focus .st190 *,
    & .st190:hover *,
    & .st190:focus * {
      fill:#FF9100;
    }
  }
  .open {
    &:hover .st228 *,
    &:focus .st228 *,
    & .st228:hover *,
    & .st228:focus * {
      fill:#00FF7F;
    }
  }
  .programme {
    &:hover .st58 *,
    &:focus .st58 *,
    & .st58:hover *,
    & .st58:focus * {
      fill:#DAFF00;
    }
  }
  .welcome {
    &:hover .st23 *,
    &:focus .st23 *,
    & .st23:hover *,
    & .st23:focus * {
      fill:#FF0695;
    }
  }
  .ticker {
    &:hover .st201 *,
    &:focus .st201 *,
    & .st201:hover *,
    & .st201:focus * {
      fill:#FF0000;
    }
  }
  .support {
    &:hover .st45 *,
    &:focus .st45 *,
    & .st45:hover *,
    & .st45:focus * {
      fill:#FF00CF;
    }
  }
  a:hover .tb ,
  a:focus .tb {
    fill:#FFFF00;
    stroke:#FFFF00;
  }

  text{font-family:'Ranga';font-size:48px;}
  .tb{fill:#FFFFFF;stroke:#00A99D;stroke-width:5;stroke-miterlimit:10;}/*text box*/
	.st0{opacity:0.39;}
	.st1{fill:#A7D7CD;}
	.st2{fill:none;stroke:#000000;stroke-width:0.407;stroke-miterlimit:10;}
	.st3{opacity:0.58;}
	.st4{fill:#CCE8E2;}
	.st5{fill:#BDE1DA;}
	.st6{fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
	.st7{fill:none;stroke:#000000;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;}
	.st8{fill:#BCE2F2;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
	.st9{clip-path:url(#SVGID_2);}
	.st10{clip-path:url(#SVGID_4);}
	.st11{clip-path:url(#SVGID_6);}
	.st12{clip-path:url(#SVGID_8);fill:#FCBE00;}
	.st13{clip-path:url(#SVGID_8);fill:#BD8F00;}
	.st14{clip-path:url(#SVGID_8);fill:#AE3524;}
	.st15{clip-path:url(#SVGID_8);fill:#0B6869;}
	.st16{clip-path:url(#SVGID_8);fill:#E84630;}
	.st17{clip-path:url(#SVGID_8);fill:#0F8B8C;}
	.st18{clip-path:url(#SVGID_2);fill:none;stroke:#000000;stroke-width:0.4463;stroke-miterlimit:10;}
	.st19{clip-path:url(#SVGID_10);fill:none;stroke:#000000;stroke-width:0.4463;stroke-miterlimit:10;}
	.st23{clip-path:url(#SVGID_12);}
	.st24{clip-path:url(#SVGID_14);}
	.st25{clip-path:url(#SVGID_16);}
	.st26{clip-path:url(#SVGID_18);fill:#0F8B8C;}
	.st27{clip-path:url(#SVGID_18);fill:#FDCB33;}
	.st28{clip-path:url(#SVGID_18);fill:#0B6869;}
	.st29{clip-path:url(#SVGID_18);fill:#E84630;}
	.st30{clip-path:url(#SVGID_18);fill:#AE3524;}
	.st31{clip-path:url(#SVGID_18);fill:#BE9826;}
	.st32{clip-path:url(#SVGID_12);fill:none;stroke:#000000;stroke-width:0.3546;stroke-miterlimit:10;}
	.st33{clip-path:url(#SVGID_20);fill:none;stroke:#000000;stroke-width:0.3546;stroke-miterlimit:10;}
	.st34{clip-path:url(#SVGID_22);}
	.st35{clip-path:url(#SVGID_24);}
	.st36{clip-path:url(#SVGID_26);}
	.st37{clip-path:url(#SVGID_28);fill:#0B6869;}
	.st38{clip-path:url(#SVGID_28);fill:#0F8B8C;}
	.st39{clip-path:url(#SVGID_28);fill:#BD8F00;}
	.st40{clip-path:url(#SVGID_28);fill:#AE3524;}
	.st41{clip-path:url(#SVGID_28);fill:#FCBE00;}
	.st42{clip-path:url(#SVGID_28);fill:#E84630;}
	.st43{clip-path:url(#SVGID_22);fill:none;stroke:#000000;stroke-width:0.4042;stroke-miterlimit:10;}
	.st44{clip-path:url(#SVGID_30);fill:none;stroke:#000000;stroke-width:0.4042;stroke-miterlimit:10;}
	.st45{clip-path:url(#SVGID_32);}
	.st46{clip-path:url(#SVGID_34);}
	.st47{clip-path:url(#SVGID_36);}
	.st48{clip-path:url(#SVGID_38);fill:#0B6869;}
	.st49{clip-path:url(#SVGID_38);fill:#0F8B8C;}
	.st50{clip-path:url(#SVGID_38);fill:#BD8F00;}
	.st51{clip-path:url(#SVGID_38);fill:#FCBE00;}
	.st52{clip-path:url(#SVGID_38);fill:#FFFFFF;}
	.st53{clip-path:url(#SVGID_38);fill:#AE3524;}
	.st54{clip-path:url(#SVGID_38);fill:#E84630;}
	.st55{clip-path:url(#SVGID_32);fill:none;stroke:#000000;stroke-width:0.309;stroke-miterlimit:10;}
	.st56{clip-path:url(#SVGID_40);fill:none;stroke:#000000;stroke-width:0.309;stroke-miterlimit:10;}
	.st58{clip-path:url(#SVGID_42);}
	.st59{clip-path:url(#SVGID_44);}
	.st60{clip-path:url(#SVGID_46);}
	.st61{clip-path:url(#SVGID_48);fill:#0F8B8C;}
	.st62{clip-path:url(#SVGID_48);fill:#E84630;}
	.st63{clip-path:url(#SVGID_48);fill:#FCBE00;}
	.st64{clip-path:url(#SVGID_48);fill:#0B6869;}
	.st65{clip-path:url(#SVGID_48);fill:#FFFFFF;}
	.st66{clip-path:url(#SVGID_48);fill:#AE3524;}
	.st67{clip-path:url(#SVGID_48);fill:#BD8F00;}
	.st68{clip-path:url(#SVGID_42);fill:none;stroke:#000000;stroke-width:0.2965;stroke-miterlimit:10;}
	.st69{clip-path:url(#SVGID_50);fill:none;stroke:#000000;stroke-width:0.2965;stroke-miterlimit:10;}
	.st70{fill:#FFFFFF;stroke:#00A99D;stroke-width:4;stroke-miterlimit:10;}
	.st71{clip-path:url(#SVGID_52);}
	.st72{clip-path:url(#SVGID_54);}
	.st73{clip-path:url(#SVGID_56);}
	.st74{clip-path:url(#SVGID_58);fill:#0B6869;}
	.st75{clip-path:url(#SVGID_58);fill:#BD8F00;}
	.st76{clip-path:url(#SVGID_58);fill:#AE3524;}
	.st77{clip-path:url(#SVGID_58);fill:#0F8B8C;}
	.st78{clip-path:url(#SVGID_58);fill:#FCBE00;}
	.st79{clip-path:url(#SVGID_58);fill:#E84630;}
	.st80{clip-path:url(#SVGID_58);fill:#084E4F;}
	.st81{clip-path:url(#SVGID_58);fill:#742318;}
	.st82{clip-path:url(#SVGID_58);fill:#084646;}
	.st83{clip-path:url(#SVGID_58);fill:#7E5F00;}
	.st84{clip-path:url(#SVGID_58);fill:#8E6B00;}
	.st85{clip-path:url(#SVGID_58);fill:#1A7462;}
	.st86{clip-path:url(#SVGID_52);fill:none;stroke:#000000;stroke-width:0.264;stroke-miterlimit:10;}
	.st87{clip-path:url(#SVGID_60);fill:none;stroke:#000000;stroke-width:0.264;stroke-miterlimit:10;}
	.st90{clip-path:url(#SVGID_62);}
	.st91{clip-path:url(#SVGID_64);}
	.st92{clip-path:url(#SVGID_66);}
	.st93{clip-path:url(#SVGID_68);fill:#AE3524;}
	.st94{clip-path:url(#SVGID_68);fill:#0B6869;}
	.st95{clip-path:url(#SVGID_68);fill:#0F8B8C;}
	.st96{clip-path:url(#SVGID_68);fill:#E84630;}
	.st97{clip-path:url(#SVGID_68);fill:#BD8F00;}
	.st98{clip-path:url(#SVGID_68);fill:#239B82;}
	.st99{clip-path:url(#SVGID_68);fill:#3FA2A3;}
	.st100{clip-path:url(#SVGID_68);fill:#FDCB33;}
	.st101{clip-path:url(#SVGID_68);fill:#FCBE00;}
	.st102{clip-path:url(#SVGID_62);fill:none;stroke:#000000;stroke-width:0.2741;stroke-miterlimit:10;}
	.st103{clip-path:url(#SVGID_70);fill:none;stroke:#000000;stroke-width:0.2741;stroke-miterlimit:10;}
	.st104{clip-path:url(#SVGID_72);}
	.st105{clip-path:url(#SVGID_74);}
	.st106{clip-path:url(#SVGID_76);}
	.st107{clip-path:url(#SVGID_78);fill:#AE3524;}
	.st108{clip-path:url(#SVGID_78);fill:#E84630;}
	.st109{clip-path:url(#SVGID_78);fill:#BD8F00;}
	.st110{clip-path:url(#SVGID_78);fill:#FCBE00;}
	.st111{clip-path:url(#SVGID_78);fill:#0B6869;}
	.st112{clip-path:url(#SVGID_78);fill:#0F8B8C;}
	.st113{clip-path:url(#SVGID_78);fill:#7E5F00;}
	.st114{clip-path:url(#SVGID_72);fill:none;stroke:#000000;stroke-width:0.1662;stroke-miterlimit:10;}
	.st115{clip-path:url(#SVGID_80);fill:none;stroke:#000000;stroke-width:0.1662;stroke-miterlimit:10;}
	.st117{clip-path:url(#SVGID_82);}
	.st118{clip-path:url(#SVGID_84);}
	.st119{clip-path:url(#SVGID_86);}
	.st120{clip-path:url(#SVGID_88);fill:#0B6869;}
	.st121{clip-path:url(#SVGID_88);fill:#0F8B8C;}
	.st122{clip-path:url(#SVGID_88);fill:#BD8F00;}
	.st123{clip-path:url(#SVGID_88);fill:#FDCB33;}
	.st124{clip-path:url(#SVGID_88);fill:#FCBE00;}
	.st125{clip-path:url(#SVGID_88);fill:#AE3524;}
	.st126{clip-path:url(#SVGID_88);fill:#E84630;}
	.st127{clip-path:url(#SVGID_82);fill:none;stroke:#000000;stroke-width:0.2755;stroke-miterlimit:10;}
	.st128{clip-path:url(#SVGID_90);fill:none;stroke:#000000;stroke-width:0.2755;stroke-miterlimit:10;}
	.st129{clip-path:url(#SVGID_92);}
	.st130{clip-path:url(#SVGID_94);}
	.st131{clip-path:url(#SVGID_96);}
	.st132{clip-path:url(#SVGID_98);fill:#BD8F00;}
	.st133{clip-path:url(#SVGID_98);fill:#FCBE00;}
	.st134{clip-path:url(#SVGID_98);fill:#0B6869;}
	.st135{clip-path:url(#SVGID_98);fill:#3FA2A3;}
	.st136{clip-path:url(#SVGID_98);fill:#AE3524;}
	.st137{clip-path:url(#SVGID_98);fill:#E84630;}
	.st138{clip-path:url(#SVGID_98);fill:#0F8B8C;}
	.st139{clip-path:url(#SVGID_98);fill:#8E6B00;}
	.st140{clip-path:url(#SVGID_98);fill:#7B1D32;}
	.st141{clip-path:url(#SVGID_98);fill:#742318;}
	.st142{clip-path:url(#SVGID_98);fill:#14574A;}
	.st143{clip-path:url(#SVGID_98);fill:#FDCB33;}
	.st144{clip-path:url(#SVGID_92);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
	.st145{clip-path:url(#SVGID_100);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
	.st146{clip-path:url(#SVGID_102);}
	.st147{clip-path:url(#SVGID_104);}
	.st148{clip-path:url(#SVGID_106);}
	.st149{clip-path:url(#SVGID_108);fill:#AE3524;}
	.st150{clip-path:url(#SVGID_108);fill:#E84630;}
	.st151{clip-path:url(#SVGID_108);fill:#0B6869;}
	.st152{clip-path:url(#SVGID_108);fill:#BD8F00;}
	.st153{clip-path:url(#SVGID_108);fill:#FFFFFF;}
	.st154{clip-path:url(#SVGID_108);fill:#0F8B8C;}
	.st155{clip-path:url(#SVGID_108);fill:#FCBE00;}
	.st156{clip-path:url(#SVGID_102);fill:none;stroke:#000000;stroke-width:0.2642;stroke-miterlimit:10;}
	.st157{clip-path:url(#SVGID_110);fill:none;stroke:#000000;stroke-width:0.2642;stroke-miterlimit:10;}
	.st159{clip-path:url(#SVGID_112);}
	.st160{clip-path:url(#SVGID_114);}
	.st161{clip-path:url(#SVGID_116);}
	.st162{clip-path:url(#SVGID_118);fill:#FCBE00;}
	.st163{clip-path:url(#SVGID_118);fill:#BD8F00;}
	.st164{clip-path:url(#SVGID_118);fill:#7E5F00;}
	.st165{clip-path:url(#SVGID_112);fill:none;stroke:#000000;stroke-width:0.3236;stroke-miterlimit:10;}
	.st166{clip-path:url(#SVGID_120);fill:none;stroke:#000000;stroke-width:0.3236;stroke-miterlimit:10;}
	.st168{clip-path:url(#SVGID_122);}
	.st169{clip-path:url(#SVGID_124);}
	.st170{clip-path:url(#SVGID_126);}
	.st171{clip-path:url(#SVGID_128);fill:#AE3524;}
	.st172{clip-path:url(#SVGID_128);fill:#E84630;}
	.st173{clip-path:url(#SVGID_128);fill:#BD8F00;}
	.st174{clip-path:url(#SVGID_128);fill:#0B6869;}
	.st175{clip-path:url(#SVGID_128);fill:#0F8B8C;}
	.st176{clip-path:url(#SVGID_128);fill:#FCBE00;}
	.st177{clip-path:url(#SVGID_128);fill:#3FA2A3;}
	.st178{clip-path:url(#SVGID_128);fill:#FDCB33;}
	.st179{clip-path:url(#SVGID_122);fill:none;stroke:#000000;stroke-width:0.2503;stroke-miterlimit:10;}
	.st180{clip-path:url(#SVGID_130);fill:none;stroke:#000000;stroke-width:0.2503;stroke-miterlimit:10;}
	.st182{clip-path:url(#SVGID_132);}
	.st183{clip-path:url(#SVGID_134);}
	.st184{clip-path:url(#SVGID_136);}
	.st185{clip-path:url(#SVGID_138);fill:#FCBE00;}
	.st186{clip-path:url(#SVGID_138);fill:#0F8B8C;}
	.st187{clip-path:url(#SVGID_138);fill:#E84630;}
	.st188{clip-path:url(#SVGID_132);fill:none;stroke:#000000;stroke-width:0.2654;stroke-miterlimit:10;}
	.st189{clip-path:url(#SVGID_140);fill:none;stroke:#000000;stroke-width:0.2654;stroke-miterlimit:10;}
	.st190{clip-path:url(#SVGID_142);}
	.st191{clip-path:url(#SVGID_144);}
	.st192{clip-path:url(#SVGID_146);}
	.st193{clip-path:url(#SVGID_148);fill:#BD8F00;}
	.st194{clip-path:url(#SVGID_148);fill:#FCBE00;}
	.st195{clip-path:url(#SVGID_148);fill:#0B6869;}
	.st196{clip-path:url(#SVGID_148);fill:#AE3524;}
	.st197{clip-path:url(#SVGID_148);fill:#0F8B8C;}
	.st198{clip-path:url(#SVGID_148);fill:#E84630;}
	.st199{clip-path:url(#SVGID_142);fill:none;stroke:#000000;stroke-width:0.2267;stroke-miterlimit:10;}
	.st200{clip-path:url(#SVGID_150);fill:none;stroke:#000000;stroke-width:0.2267;stroke-miterlimit:10;}
	.st201{clip-path:url(#SVGID_152);}
	.st202{clip-path:url(#SVGID_154);}
	.st203{clip-path:url(#SVGID_156);}
	.st204{clip-path:url(#SVGID_158);fill:#BD8F00;}
	.st205{clip-path:url(#SVGID_158);fill:#FCBE00;}
	.st206{clip-path:url(#SVGID_158);fill:#0B6869;}
	.st207{clip-path:url(#SVGID_158);fill:#0F8B8C;}
	.st208{clip-path:url(#SVGID_158);fill:#E84630;}
	.st209{clip-path:url(#SVGID_158);fill:#AE3524;}
	.st210{clip-path:url(#SVGID_158);fill:#084E4F;}
	.st211{clip-path:url(#SVGID_152);fill:none;stroke:#000000;stroke-width:0.2491;stroke-miterlimit:10;}
	.st212{clip-path:url(#SVGID_160);fill:none;stroke:#000000;stroke-width:0.2491;stroke-miterlimit:10;}
	.st214{clip-path:url(#SVGID_162);}
	.st215{clip-path:url(#SVGID_164);}
	.st216{clip-path:url(#SVGID_166);}
	.st217{clip-path:url(#SVGID_168);fill:#0F8B8C;}
	.st218{clip-path:url(#SVGID_168);fill:#0B6869;}
	.st219{clip-path:url(#SVGID_168);fill:#BD8F00;}
	.st220{clip-path:url(#SVGID_168);fill:#FCBE00;}
	.st221{clip-path:url(#SVGID_168);fill:#AE3524;}
	.st222{clip-path:url(#SVGID_168);fill:#FFFFFF;}
	.st223{clip-path:url(#SVGID_168);fill:#7E5F00;}
	.st224{clip-path:url(#SVGID_168);fill:#E84630;}
	.st225{clip-path:url(#SVGID_168);fill:#084646;}
	.st226{clip-path:url(#SVGID_162);fill:none;stroke:#000000;stroke-width:0.2908;stroke-miterlimit:10;}
	.st227{clip-path:url(#SVGID_170);fill:none;stroke:#000000;stroke-width:0.2908;stroke-miterlimit:10;}
	.st228{clip-path:url(#SVGID_172);}
	.st229{clip-path:url(#SVGID_174);}
	.st230{clip-path:url(#SVGID_176);}
	.st231{clip-path:url(#SVGID_178);fill:#BD8F00;}
	.st232{clip-path:url(#SVGID_178);fill:#FCBE00;}
	.st233{clip-path:url(#SVGID_178);fill:#AE3524;}
	.st234{clip-path:url(#SVGID_178);fill:#0B6869;}
	.st235{clip-path:url(#SVGID_178);fill:#E84630;}
	.st236{clip-path:url(#SVGID_178);fill:#0F8B8C;}
	.st237{clip-path:url(#SVGID_178);fill:#3FA2A3;}
	.st238{clip-path:url(#SVGID_172);fill:none;stroke:#000000;stroke-width:0.4511;stroke-miterlimit:10;}
	.st239{clip-path:url(#SVGID_180);fill:none;stroke:#000000;stroke-width:0.4511;stroke-miterlimit:10;}
	.st240{clip-path:url(#SVGID_180);fill:none;stroke:#000000;stroke-width:0.3384;stroke-miterlimit:10;}
}
