<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header class="site-header">
      <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/">
          <img src="{{ "/assets/zfa-logo.png" | prepend: site.baseurl }}" height="102" alt="Logo Zukunft für Alle"/>
        </a>
      </div>
    </header>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <footer class="site-footer">
    </footer>

  </body>

</html>
